<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre 2021</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div>
            <img src="/img/logo-mercado-liebre.svg" alt="logotipo">
        </div>
        <div>barra de busqueda</div>
        <p>compra en cuotas y sin interes</p>
        <nav>
            <ul>

            </ul>
        </nav>
    </header>

    <main> 
        <section>
            <h2>basado en tu ultima visita</h2>
        </section>
    </main>

    <footer>

         
    </footer>


</body>
</html>