<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre 2021</title>
    
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />

</head>
<body class="home">
    <header>
        <div class="logo-buscador">
        
        <div class="logo">
            <img src="/img/logo-mercado-liebre.svg" alt="logotipo">
        </div>
       
        
        <div class="buscador">
            <form action="">
                <input name="buscar" type="text" placeholder="Buscar producto,marca">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>

        
        
        <div class="informacion">
            <p><i class="fas fa-hand-holding-usd">compra en cuotas y sin tarjeta de credito</i></p>
        </div>
        
              
    </div>
        
        
        <nav>
            <ul class="menu">
                <li><a href="">ofertas</a></li>
                <li><a href="">tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">ayuda</a></li>
            </ul>

            <ul class="usuario">
                <li><a href="/register">Crea tu cuenta</a><i class="far fa-address-card"></i></li>
                <li><a href="">Ingresa</a><i class="fas fa-sign-out-alt"></i></li>
                <li><a href="">Mis compras</a><i class="fas fa-briefcase"></i></i></li>

            </ul>
        </nav>
        
            <div class="burger">
                    <a href=""><i class="fas fa-bars"></i></a>
             </div>
    </header>

    <div class="banner">
        <img src="/img/img-home-banner.jpg" width="100% "alt="banner"/>
    </div>

    <main> 
        <section>

            <h4>basado en tu ultima visita</h4>
            
            
                
            <article>
                <div>
                    <img src="/img/img-cafetera-moulinex.jpg" width="100%" alt="Cafetera Moulinex"/>
                </div>
                
                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <div class="precio-descuento">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </article>
                
                
                
            <article>
                <div>
                    <img src="/img/img-macbook-pro-2019.jpg"  width="100%" alt="MacBook">
                </div>

                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <div class="precio-descuento">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                    </div>
                    
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </article> 
    
                
            <article>
                <div>
                    <img src="/img/img-samsung-galaxy-s10.jpg" width="100%" alt="galaxy-s10">
                </div>
                    
                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <div class="precio-descuento">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                    </div>
                    
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </article>
                
                
            <article>
                <div>
                    <img src="/img/img-tv-samsung-smart.jpg" width="100%" alt="SmartTv"> 
                </div>

                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <div class="precio-descuento">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p> 
                    </div>
                    
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
            </article>  
                    
            </div>
        </section>
            

       

        <section>
                <h4>Ofertas</h4>
           
            <article>
                <div>
                    <img src="/img/img-cafetera-moulinex.jpg" width="100%" alt="Cafetera Moulinex">
                </div>
                <div class="producto">
                    <i class="fas fa-truck"></i>
                    
                    <div class="precio-descuento">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </article>
            
            
            
           <article>
                <div>
                <img src="/img/img-macbook-pro-2019.jpg"  width="100%" alt="MacBook">
                </div>

                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <div class="precio-descuento">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                    </div>
                    
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
           </article>

            
            <article>
                <div>
                    <img src="/img/img-samsung-galaxy-s10.jpg" width="100%" alt="galaxy-s10">
                </div>
                    
                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <div class="precio-descuento">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    </div>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>

            </article>
            

            <article>
                <div>
                    <img src="/img/img-tv-samsung-smart.jpg" width="100%" alt="SmartTv"> 
                </div>

                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <div class="precio-descuento">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                    </div>
                    
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
            </article>
            
            

        </section>



    </main>

    <footer>
        <div class="footer-contenedor">
            <section>
                
                    <i class="fas fa-credit-card"></i>
                
                
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
                
            <section>
               
                    <i class="fas fa-gift"></i>
                
                
                <h2>Envío gratis desde $ 2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
    
            </section>
    
            <section>
                
                    <i class="fas fa-user-shield"></i>
               
                
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
                
    
                
                    <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                
        </div>
        
    </footer>


</body>
</html>