/* contenedor general */

.register-login .contenedor{
    width: 90%;
    margin: 0 auto;
    max-width: 375px;

}

.register-login .contenedor h1{
    text-align: center;
    margin: 20px 0;
}

.register-login .contenedor .input-contenedor{
    display: flex;
    margin: 20px 0;

}



/* inputs */

.register-login .contenedor .input-contenedor input.text{
    width: 100%;
}

.register-login .contenedor .input-contenedor .radio{
    margin: 0 20px;
}

.register-login .contenedor .input-contenedor  .check{
    margin: 0 15px;
}



.register-login .contenedor .boton-contenedor{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.register-login .contenedor .boton-contenedor button{
    color: white;
}

