*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
 }


body{
    font-size: 12px;
    background-color: #ebebeb;
    
}

h4{
    font-size: 24px;
    color: #ebebeb;
}




a{
    list-style: none;
    text-decoration: none;
    color: black;
}


ul{
    list-style: none;
    text-decoration: none;
} 

ul li{
    list-style: none;
    text-decoration: none;
    color: black;
}



input , 
button{
    padding: 10px;
    border: none;
    border-radius: 5px;  
}

button:hover{
    cursor: pointer;
}

.btn-rojo{
    background-color: red;
}


.btn-celeste{
    background-color: #39b54a;
    transition:background-color linear  .3s;
}

.btn-celeste:hover{
    background-color: #1259c3 ;
    
}