
header{
    background-color: #EAC926;
    padding: 30px 20px 20px 20px;
}

header .logo-buscador {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between ;
}



header .logo-buscador .logo{
    width: 45%;
    margin-left: 10px;
    margin-bottom: 10px;
}

header .logo-buscador .buscador{
    width: 45%;
}

header .logo-buscador .buscador input{
    width: 80%;
}

header p.informacion{
    width: 100%;
    text-align: center;
    margin: 20px 0; 
}


header nav{
    display: none;
}

header nav ul li a{
    font-size: 12px;
}

 
header .menu a{
    font-size: 24px;
    padding: 5px;
} 

header .usuario a{
    font-size: 24px;
    padding: 5px;
} 

header div.burger{
    text-align: center;
}



header div .burger{
    margin-top: 25px;
    padding: 10px;
    background-color: #1259c3;
    color: #ebebeb;
    border-radius: 10%;
    font-size: 23px;

}


@media(min-width:768px){
    header nav{
        display: flex;
        justify-content: space-between;
    }

    header nav ul{
        display: flex;
        

    }

    header nav ul li{
        margin: 0 5px;
    }
    
    header .logo-buscador .logo{
        width: 32%;
        
    }

    header .logo-buscador .buscador{
        width: 32%;
    }

    header p.informacion{
        width: 32%;
        font-size: 24px;
       
    }


    header div.burger{
        display: none;
    }
}

@media (min-width: 1024px){
    header nav ul li{
        margin:0 10px;
    }
}


