
header{
    background-color: #EAC926;
    padding: 30px 20px 20px 20px;
}

header .logo-buscador {
    display: flex; 
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-between;
     
}
 


header .logo-buscador .logo{
    width: 48%;
   
}

header .logo-buscador .buscador{
    width: 48%;
    display: flex;
} 

header .logo-buscador .buscador form{
    width: 100%;
    display:flex;
}

header .logo-buscador .buscador input{
    border-radius: 5px 0 0 5px;
    padding: 10px;
    flex-grow: 1;
    width: 100%;
   
}

header .logo-buscador .buscador button{
    background-color: white;
    color: #666 ;
    border-radius: 0 5px 5px 0;
    padding: 10px 5px;
    display: flex;
    align-items: center;

    
}

header .logo-buscador .buscador button:hover{
    cursor: pointer;
}

header .informacion p{
    width: 100%;
    
    margin: 15px 0; 
    font-size: 16px;
}


header nav{
    display: none;
}

header nav ul li a{
    font-size: 12px;
    width: 32%;
}

 
header .menu a{
    font-size: 14px;
    padding: 5px;
    color: black;
    
} 

header .usuario a{
    font-size: 14px;
    padding: 10px 5px;
    color: black;
    
} 

header div.burger{
    text-align: center;
}



header .burger i{
    margin-top: 25px;
    padding: 10px;
    background-color: #1259c3;
    color: #ebebeb;
    border-radius: 10%;
    font-size: 12px;

}


@media(min-width:768px){

   

    header nav{
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
    }

    header nav ul{
        display: flex;
    }

    header nav ul li{
        margin: 0 5px;
    }
    
    header .logo-buscador .logo{
        width: 32%;
        
    }

    header .logo-buscador .buscador{
        width: 32%;
    }

    header div.burger{
        display: none;
    }
}

@media (min-width: 1024px){
    header nav ul li{
        margin:0 10px;
    }
    header nav{
       
        padding: 5px 0;
    }

    header .logo-buscador .buscador input{
        border-radius: 5px 0 0 5px;
        padding: 10px;
        flex-grow: 1;
    }
    
}


